---
import { getCollection } from "astro:content";
const allPosts = await getCollection("team");
import BaseLayout from "@/layouts/BaseLayout.astro";
import TeamEntries from "@/components/team/TeamEntries.astro";
---

<BaseLayout>
  <section>
    <div class="p-8 max-w-7xl mx-auto border-x border-gray border-b lg:py-32">
      <div class="max-w-2xl">
        <span class="text-neutral-400 font-light">Team</span>
        <h1 class="text-white text-2xl font-light">
          Meet our team, designers, engineers and researchers
        </h1>
        <p class="text-neutral-400 mt-6">
          Dusk has brought together some of the most talented creatives on the
          web to craft world-class websites.
        </p>
      </div>
    </div>
  </section>
  <section>
    <div class="max-w-7xl mx-auto border-x border-gray border-b p-8">
      <ul
        role="list"
        class="grid grid-cols-1 md:grid-cols-3 gap-x-8 gap-y-16">
        {
          allPosts.map((post) => (
            <TeamEntries
              url={"/team/" + post.slug}
              name={post.data.name}
              role={post.data.role}
              avatar={post.data.avatar.url}
            />
          ))
        }
      </ul>
    </div>
  </section>
</BaseLayout>
