---
import LogoCloudOne from "../testimonials/LogoCloudOne.astro";
---

<div class="relative isolate overflow-hidden bg-regent-500">
  <div
    class="mx-auto max-w-7xl px-8 pb-24 pt-10 sm:pb-32 lg:flex items-center md:px-12 lg:px-24 lg:py-20">
    <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-xl lg:flex-shrink-0">
      <span class="uppercase tracking-wide font-medium text-black">
        ⏤ welcome to snowpeak
      </span>
      <p
        class="text-4xl lg:text-6xl tracking-tight mt-16 font-medium text-black">
        Revolutionize your coding experience
      </p>
      <p class="max-w-xl mt-4 text-lg font-medium text-balance text-black/80">
        Say goodbye to endless hours of frustration and hello to a seamless,
        intuitive platform designed to boost your productivity and efficiency.
      </p>
      <div class="flex mt-10 w-full">
        <a
          class="inline-flex items-center lg:text-xl justify-center w-auto lg:px-12 px-6 py-4 text-center text-black duration-200 bg-white font-medium rounded-full text-base focus:outline-none focus:ring-2 focus:ring-offset-2 hover:text-white focus:ring-regent-900 ring-offset-2 hover:bg-regent-900"
          href="/"
          >See all pages</a
        >
      </div>
    </div>
    <div
      class="mx-auto mt-16 flex max-w-2xl sm:mt-24 lg:ml-10 lg:mr-0 lg:mt-0 lg:-mb-40 lg:max-w-none lg:flex-none xl:ml-24 2xl:ml-8">
      <div class="max-w-3xl flex-none sm:max-w-5xl lg:max-w-none">
        <div class="-m-2">
          <img
            src="/images/device1.png"
            alt="#_"
            class="w-[76rem]"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<LogoCloudOne />
