---
import BaseLayout from '@/layouts/BaseLayout.astro'
import { Header } from '@/components/header'
import { Hero } from '@/components/hero'
import { Brands } from '@/components/brands'
import { Features } from '@/components/features'
import { Templates } from '@/components/templates'
import { Revenue } from '@/components/revenue'
import { Content } from '@/components/content'
import { Freelance } from '@/components/freelance'
import { Testimonials } from '@/components/testimonials'
import Footer from '@monorepo/components/src/Footer.astro';
---

<BaseLayout
  title="Hadirmu"
  description="This template helps you build apps with Astro, Tailwind CSS, and Shadcn UI."
>
<main className="min-h-screen bg-white">
  <Header client:load/>
  <Hero />
  <Brands client:load/>
  <Features client:load/>
  <Templates client:load />
  <Revenue client:load/>
  <Content client:load/>
  <Freelance client:load />
  <Testimonials client:load/>
</main>
<Footer/>
</BaseLayout>
