---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout>
  <section>
    <div class="p-8 max-w-7xl mx-auto border-x border-gray border-b lg:py-32">
      <div class="max-w-2xl mx-auto">
        <span class="text-neutral-400 font-light"
          >{frontmatter.service}
        </span>
        <h1 class="text-white mt-6 text-2xl font-light">
          {frontmatter.description}
        </h1>
      </div>
      <div class="prose-styles">
        <slot />
      </div>
    </div>
  </section>
</BaseLayout>
