---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout>
  <section>
    <div
      class="mx-auto md:px-12 px-8 max-w-7xl lg:px-24 w-full items-center py-12 lg:py-24">
      <h1
        class="text-4xl lg:text-6xl        font-medium text-black">
        {frontmatter.page}
      </h1>

      <div class="prose-styles">
        <slot />
      </div>
    </div>
  </section>
</BaseLayout>
