---
const faqItems = [
  {
    question: "How can I register for your email service?",
    answer:
      "Registering for our email service is straightforward. Just navigate to our homepage and hit the 'Register' button.",
  },
  {
    question:
      "Is it possible to transfer my current email contacts into your system?",
    answer:
      "Certainly! We make it easy to import your existing contact lists directly into our platform, supporting formats like CSV and Excel. ",
  },
  {
    question: "How do you ensure the security of my emails and personal data?",
    answer:
      "Protecting your information is our utmost concern. We utilize standard encryption methods to protect your data and keep your email content private. ",
  },
  {
    question: "Can I schedule emails for future delivery?",
    answer:
      "Indeed, our platform enables you to schedule emails to send at future dates and times, optimizing for when your audience is most likely to engage. ",
  },
  {
    question: "Do you offer features for email automation?",
    answer:
      "Yes, our platform is equipped with advanced email automation tools. ",
  },
  {
    question: "What type of customer service do you offer?",
    answer:
      "Our commitment to exceptional customer support is unwavering.",
  },
];
---

<section>
  <div class="px-8 py-12 mx-auto md:px-12 lg:px-16 max-w-7xl lg:py-32">
    <div>
      <span class="uppercase tracking-wide font-medium text-regent-600">
        ⏤ frequently asked questions
      </span>
      <p class="mt-16 text-2xl lg:text-4xl text-black">
        Frequently asked questions
      </p>
    </div>
    <ul
      class="grid grid-cols-1 lg:mt-24 mt-12 gap-6 lg:gap-12 lg:grid-cols-3 list-none">
      {
        faqItems.map((faq, index) => (
          <li >
            <h3 class="text-black mt-8 font-medium text-xl">
              {faq.question}
            </h3>
            <p class="text-gray-500 mt-6 text-lg lg:text-xl tracking-wide">
              {faq.answer}
            </p>
          </li>
        ))
      }
    </ul>
  </div>
</section>
