---
const listItems = [
  {
    emphasisText: "The future of coding is here",
    normalText: "— in your dreams.",
  },
  {
    emphasisText: "Improved collaboration for faster results",
    normalText: "— ain't no big deal.",
  },
  {
    emphasisText: "The most affordable coding solution",
    normalText: "— Collaboration is key.",
  },
];
const innovationsList = [
  {
    emphasisText: "Seamless integration ",
    normalText: "— Unify your workflow effortlessly.",
  },
  {
    emphasisText: "AI algorithms",
    normalText: "— Driving efficiency and innovation.",
  },
  {
    emphasisText: "Eco-friendly  solutions",
    normalText: "— Green tech for a sustainable future.",
  },
  {
    emphasisText: "Virtual reality in education",
    normalText: "— Expanding the horizons of learning.",
  },
];
---

<section class="relative overflow-hidden">
  <div
    class="items-center w-full px-8 pt-12 mx-auto md:px-12 lg:px-24 max-w-7xl lg:pt-32">
    <div>
      <span class="uppercase tracking-wide font-medium text-regent-600">
        ⏤ demo pages
      </span>
      <p class="mt-16 text-2xl lg:text-4xl text-black">
        Discover what Snowpeak includes and what is made of, you will find a ton
        of demo pages and components.
      </p>
    </div>
  </div>
  <div class="mt-24">
    <div class="grid gap-12 lg:gap-0 lg:grid-cols-2 items-center">
      <section class="md:px-12 lg:px-40 2xl:px-24 px-8">
        <p
          class="text-2xl        lg:text-4xl text-black mt-12 lg:mt-0 text-balance">
          Protecting your data with cutting-edge security
        </p>
        <p class="text-balance mt-4 text-lg text-black/80">
          Whether you're a beginner or an experienced programmer, our SaaS
          product offers the tools you need to be successful.
        </p>

        <div class="mt-10">
          <a
            class="inline-flex items-center lg:text-xl justify-center w-full px-6 py-4 text-center text-yellow-900 duration-200 bg-yellow-500 font-medium rounded-full text-base focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500 ring-offset-2 hover:bg-yellow-100 lg:w-auto"
            href="/"
            >Explore all pages</a
          >
        </div>
      </section>
      <section class="relative bg-regent-500 overflow-hidden">
        <div class="overflow-hidden h-full">
          <img
            alt="#_"
            src="/images/ui9.png"
            class="w-full"
          />
        </div>
      </section>
    </div>
    <div class="grid gap-12 lg:gap-0 lg:grid-cols-2 items-center">
      <section class="md:px-12 lg:px-40 2xl:px-24 px-8 lg:order-last">
        <p
          class="text-2xl        lg:text-4xl text-black mt-12 lg:mt-0 text-balance">
          Advanced tools for every developer
        </p>
        <p class="text-balance mt-4 text-lg text-black/80">
          Whether you're a beginner or an experienced programmer, our SaaS
          product offers the tools you need to be successful.
        </p>
        <ul
          class="list-none mt-10 space-y-2"
          role="list">
          {
            listItems.map((item, index) => (
              <li>
                <p class="text-black/80 text-sm leading-6">
                  <strong class="font-medium text-black">
                    {item.emphasisText}
                  </strong>
                  {item.normalText}
                </p>
              </li>
            ))
          }
        </ul>
      </section>
      <section class="relative bg-yellow-300 overflow-hidden">
        <div class="overflow-hidden h-full">
          <img
            alt="#_"
            src="/images/ui10.png"
            class="w-full"
          />
        </div>
      </section>
    </div>
    <div class="grid gap-12 lg:gap-0 lg:grid-cols-2 items-center">
      <section class="relative md:px-12 lg:px-24 px-8">
        <p
          class="text-2xl        lg:text-4xl text-black mt-12 lg:mt-0 text-balance">
          Improved Collaboration for Faster Results
        </p>
        <p class="text-balance mt-4 text-lg text-black/80">
          Collaboration is key to successful programming, and our SaaS product
          makes it easy to work with others.
        </p>
        <ul
          class="list-none mt-10 space-y-2"
          role="list">
          {
            innovationsList.map((item, index) => (
              <li>
                <p class="text-black/80 text-sm leading-6">
                  <strong class="font-medium text-black">
                    {item.emphasisText}
                  </strong>
                  {item.normalText}
                </p>
              </li>
            ))
          }
        </ul>
      </section>
      <section class="relative bg-lila-500 overflow-hidden">
        <div class="overflow-hidden h-full">
          <img
            alt="#_"
            src="/images/ui11.png"
            class="w-full"
          />
        </div>
      </section>
    </div>
    <div class="grid gap-12 lg:gap-0 lg:grid-cols-2 items-center">
      <section class="md:px-12 lg:px-40 2xl:px-24 px-8 lg:order-last">
        <p
          class="text-2xl        lg:text-4xl text-black mt-12 lg:mt-0 text-balance">
          The most affordable coding solution
        </p>
        <p class="text-balance mt-4 text-lg text-black/80">
          Our SaaS programming product offers a powerful platform that makes
          coding easier, faster and more efficient.
        </p>
        <div class="mt-10">
          <a
            class="inline-flex items-center lg:text-xl justify-center w-full px-6 py-4 text-center text-black duration-200 bg-regent-500 font-medium rounded-full text-base focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-regent-500 ring-offset-2 hover:bg-regent-100 lg:w-auto"
            href="/"
            >Explore all pages</a
          >
        </div>
      </section>
      <section class="relative bg-yellow-500 overflow-hidden">
        <div class="overflow-hidden h-full">
          <img
            alt="#_"
            src="/images/ui12.png"
            class="w-full"
          />
        </div>
      </section>
    </div>
  </div>
</section>
