---
const features = [
  {
    title: "Advanced email analytics",
    description:
      "Gain deep insights into your email campaigns with our advanced analytics suite.",
  },
  {
    title: "Personalized email automation",
    description:
      "Save time and boost engagement with our powerful personalized email automation feature.",
  },
  {
    title: "Drag-and-drop email composer",
    description:
      "Create stunning email campaigns effortlessly using our intuitive drag-and-drop email composer.",
  },
];
---

<section>
  <div class="px-8 pt-12 mx-auto md:px-12 lg:px-24 max-w-7xl lg:pt-32">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-24 items-end">
      <div>
        <span class="uppercase tracking-wide font-medium text-regent-600">
          ⏤ Discover
        </span>
        <p class="mt-16 text-2xl lg:text-4xl text-black">
          Discover what Snowpeak includes and what is made.
        </p>
      </div>
      <div>
        <p class="text-gray-500 text-lg lg:text-xl tracking-wide text-balance">
          With our user-friendly interface, you can easily create and manage
          your projects, collaborate with your team, and streamline your
          workflow.
        </p>
      </div>
    </div>
    <div
      class="grid gap-12 lg:grid-cols-3 mt-24">
      {
        features.map((feature, index) => (
          <div>
            <p class="text-regent-600 text-lg text-medium font-mono">
              {String(index + 1).padStart(2, "0")}
            </p>

            <p class="text-black mt-8 font-medium text-xl">
              {feature.title}
            </p>
            <p class="text-gray-500 mt-6 text-lg lg:text-xl tracking-wide">
              {feature.description}
            </p>
          </div>
        ))
      }

    </div>
  </div>
  <div class="flex flex-col -mb-px gap-12 mt-24 pb-12 lg:pb-32">
    <div class="relative hidden lg:block overflow-hidden">
      <div class="overflow-hidden w-full bg-lila-500">
        <img
          alt="#_"
          src="/images/ui6.png"
          class="w-full"
        />
      </div>
    </div>
  </div>
</section>
