<section>
  <div class="px-8 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl lg:py-32">
    <div>
      <div class="max-w-xl">
        <p class="ttext-2xl lg:text-4xl text-black">Style guide</p>
      </div>
      <div>
        <div class="pb-12 border-b border-gray-300 w-full mt-12">
          <span class="bg-white text-xl text-black"
            >Typography
            <span class="text-sm">Inter </span>
          </span>
        </div>
        <div class="mt-12 lg:mt-24 space-y-6">
          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div><span class="text-gray-400">Header 1</span></div>
            <div class="col-span-2 lg:col-span-3">
              <span class="text-4xl lg:text-7xl font-medium text-black"
                >Header 1
              </span>
            </div>
          </div>
          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div><span class="text-gray-400">Header 2</span></div>
            <div class="col-span-2 lg:col-span-3">
              <span class="text-3xl lg:text-6xl font-medium text-black"
                >Header 2
              </span>
            </div>
          </div>
          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div><span class="text-gray-400">Header 3</span></div>
            <div class="col-span-2 lg:col-span-3">
              <span class="text-xl lg:text-5xl font-medium text-black"
                >Header 3
              </span>
            </div>
          </div>
          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div><span class="text-gray-400">Header 4</span></div>
            <div class="col-span-2 lg:col-span-3">
              <span class="text-xl lg:text-4xl font-medium text-black"
                >Header 4
              </span>
            </div>
          </div>

          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div><span class="text-gray-400">Link</span></div>
            <div class="col-span-2 lg:col-span-3">
              <span class="text-sm text-ye-600 hover:text-black underlined"
                >Link text
              </span>
            </div>
          </div>
          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div><span class="text-gray-400">Subtitle</span></div>
            <div class="col-span-2 lg:col-span-3">
              <span class="text-black font-medium lg:text-xl text-lg"
                >Subtitle text
              </span>
            </div>
          </div>
          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div><span class="text-gray-400">Paragraph</span></div>
            <div class="col-span-2 lg:col-span-3">
              <span class="text-gray-500 mt-2 text-base text-balance"
                >See everything at a glance and take control of your business
                like never before! With our cutting-edge intuitive dashboard,
                you can effortlessly manage every aspect of your operations,
                empowering you to make informed decisions and drive success.
              </span>
            </div>
          </div>
          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div><span class="text-gray-400">Caption</span></div>
            <div class="col-span-2 lg:col-span-3">
              <span class="text-xs text-gray-400"
                >Picture about somethign
              </span>
            </div>
          </div>
          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div>
              <span class="text-gray-400">List</span>
            </div>
            <div class="col-span-2 lg:col-span-3">
              <ul class="list-decimal list-inside mt-6 prose" role="list">
                <li>Next.js and/or Nuxt.js</li>
                <li>CReact Native .</li>
                <li>AWS and/or Firebase</li>
                <li>Familiarity with noSQL databases</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="pb-12 border-b border-gray-300 w-full mt-12">
        <span class="bg-white text-xl text-black">Color palette</span>
      </div>
      <div class="grid grid-cols-2 gap-2 lg:grid-cols-6 mt-12">
        <div class="space-y-2">
          <div
            class="lg:justify-center p-6 rounded-lg bg-white border border-gray-300"
          >
          </div>
        </div>
        <div>
          <div class="lg:justify-center p-6 rounded-t-lg bg-regent-50"></div>
          <div class="lg:justify-center p-6 bg-regent-100"></div>
          <div class="lg:justify-center p-6 bg-regent-200"></div>
          <div class="lg:justify-center p-6 bg-regent-300"></div>
          <div class="lg:justify-center p-6 bg-regent-400"></div>
          <div class="lg:justify-center p-6 bg-regent-500"></div>
          <div class="lg:justify-center p-6 bg-regent-600"></div>
          <div class="lg:justify-center p-6 bg-regent-700"></div>
          <div class="lg:justify-center p-6 bg-regent-800"></div>
          <div class="lg:justify-center p-6 rounded-b-lg bg-regent-900"></div>
        </div>
        <div>
          <div class="lg:justify-center p-6 rounded-t-lg bg-pink-50"></div>
          <div class="lg:justify-center p-6 bg-pink-100"></div>
          <div class="lg:justify-center p-6 bg-pink-200"></div>
          <div class="lg:justify-center p-6 bg-pink-300"></div>
          <div class="lg:justify-center p-6 bg-pink-400"></div>
          <div class="lg:justify-center p-6 bg-pink-500"></div>
          <div class="lg:justify-center p-6 bg-pink-600"></div>
          <div class="lg:justify-center p-6 bg-pink-700"></div>
          <div class="lg:justify-center p-6 bg-pink-800"></div>
          <div class="lg:justify-center p-6 rounded-b-lg bg-pink-900"></div>
        </div>
        <div>
          <div class="lg:justify-center p-6 rounded-t-lg bg-lila-50"></div>
          <div class="lg:justify-center p-6 bg-lila-100"></div>
          <div class="lg:justify-center p-6 bg-lila-200"></div>
          <div class="lg:justify-center p-6 bg-lila-300"></div>
          <div class="lg:justify-center p-6 bg-lila-400"></div>
          <div class="lg:justify-center p-6 bg-lila-500"></div>
          <div class="lg:justify-center p-6 bg-lila-600"></div>
          <div class="lg:justify-center p-6 bg-lila-700"></div>
          <div class="lg:justify-center p-6 bg-lila-800"></div>
          <div class="lg:justify-center p-6 rounded-b-lg bg-lila-900"></div>
        </div>

        <div>
          <div class="lg:justify-center p-6 rounded-t-lg bg-yellow-50"></div>
          <div class="lg:justify-center p-6 bg-yellow-100"></div>
          <div class="lg:justify-center p-6 bg-yellow-200"></div>
          <div class="lg:justify-center p-6 bg-yellow-300"></div>
          <div class="lg:justify-center p-6 bg-yellow-400"></div>
          <div class="lg:justify-center p-6 bg-yellow-500"></div>
          <div class="lg:justify-center p-6 bg-yellow-600"></div>
          <div class="lg:justify-center p-6 bg-yellow-700"></div>
          <div class="lg:justify-center p-6 bg-yellow-800"></div>
          <div class="lg:justify-center p-6 rounded-b-lg bg-yellow-900"></div>
        </div>

        <div>
          <div class="lg:justify-center p-6 rounded-t-lg bg-gray-50"></div>
          <div class="lg:justify-center p-6 bg-gray-100"></div>
          <div class="lg:justify-center p-6 bg-gray-200"></div>
          <div class="lg:justify-center p-6 bg-gray-300"></div>
          <div class="lg:justify-center p-6 bg-gray-400"></div>
          <div class="lg:justify-center p-6 bg-gray-500"></div>
          <div class="lg:justify-center p-6 bg-gray-600"></div>
          <div class="lg:justify-center p-6 bg-gray-700"></div>
          <div class="lg:justify-center p-6 bg-gray-800"></div>
          <div class="lg:justify-center p-6 bg-gray-900"></div>
          <div class="lg:justify-center p-6 rounded-b-lg bg-gray-950"></div>
        </div>
      </div>
      <div class="pb-12 border-b border-gray-300 w-full mt-12">
        <span class="bg-white text-xl text-black">Buttons</span>
      </div>
      <div class="flex mt-10 w-full gap-3 flex-wrap">
        <a
          class="inline-flex items-center lg:text-xl justify-center w-auto lg:px-12 px-6 py-4 text-center text-black duration-200 bg-regent-500 font-medium rounded-full text-base focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-regent-900 ring-offset-2 hover:bg-regent-50"
          href="/">See all pages</a
        >
        <a
          class="inline-flex items-center lg:text-xl justify-center w-auto lg:px-12 px-6 py-4 text-center text-yellow-900 duration-200 bg-yellow-500 font-medium rounded-full text-base focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-regent-900 ring-offset-2 hover:bg-yellow-400"
          href="/">See all pages</a
        >
        <a
          class="inline-flex items-center lg:text-xl justify-center w-auto lg:px-12 px-6 py-4 text-center text-black duration-200 bg-white font-medium rounded-full text-base focus:outline-none focus:ring-2 focus:ring-offset-2 hover:text-white focus:ring-regent-900 ring-offset-2 hover:bg-regent-900"
          href="/">See all pages</a
        >
      </div>
    </div>
  </div>
</section>
