<section>
  <div
    class="items-center w-full px-8 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl lg:pt-32">
    <p class="text-2xl        lg:text-4xl text-black">
      Discover what Snowpeak includes and what is made of, you will find a ton
      of demo pages and components.
    </p>
  </div>
  <div class="mt-24">
    <div class="grid gap-12 lg:gap-0 lg:grid-cols-2 items-center">
      <section class="md:px-12 lg:px-40 2xl:px-24 px-8">
        <p
          class="text-2xl        2xl:text-3xl text-black mt-12 lg:mt-0 text-balance">
          We help sales teams increase their outbound with scalable and high
          quality customized emails for every prospect. Don't waste your change
          and get on board.
        </p>
        <div class="mt-10">
          <a
            href="/"
            class="inline-flex items-center lg:text-xl justify-center w-auto lg:px-12 px-6 py-4 text-center text-black duration-200 bg-regent-500 font-medium rounded-full text-base focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-regent-500 ring-offset-2 hover:bg-regent-100"
            >See all pages</a
          >
        </div>
      </section>
      <section class="relative bg-regent-500 overflow-hidden lg:order-first">
        <div class="overflow-hidden h-full">
          <img
            class="aspect-square object-cover object-right p-16 pl-0"
            alt="#_"
            src="/images/device2.png"
            class="w-full"
          />
        </div>
      </section>
    </div>
  </div>
</section>
