@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";
@layer components {
  .prose-styles {
    /* Default text color for dark theme */
    @apply prose mx-auto prose-blockquote:border-l-white prose-a:text-accent-500 hover:prose-a:text-black prose-headings:font-normal prose-headings:text-black prose-pre:border prose-li:marker:text-accent-500 prose-headings:font-display text-zinc-500 prose-code:text-black prose-blockquote:text-black/70 max-w-3xl prose-pre:border-zinc-300 ;
  }
}

@supports (font-variation-settings: normal) {
  /* Use variable font if supported */
  :root {
    font-family: InterVariable, sans-serif;
  }
}
@theme {
  /* Typography */
  --font-sans: "Inter", sans-serif;
  --font-display: "Familjen Grotesk", sans-serif;
  /* Colors */
  --color-chalk: #ffffff;
  --color-white: #f5f5f5;
  --color-black: #171717;
  --color-accent-50: #fff7f5;
  --color-accent-100: #ffeae5;
  --color-accent-200: #ffd0c7;
  --color-accent-300: #ffae9e;
  --color-accent-400: #ff8870;
  --color-accent-500: #ff421e;
  --color-accent-600: #f02800;
  --color-accent-700: #d12300;
  --color-accent-800: #ad1d00;
  --color-accent-900: #801500;
  --color-accent-950: #611000;
  --color-zinc-50: #fafafa;
  --color-zinc-100: #f4f4f5;
  --color-zinc-200: #e4e4e7;
  --color-zinc-300: #d4d4d8;
  --color-zinc-400: #a1a1aa;
  --color-zinc-500: #71717a;
  --color-zinc-600: #52525b;
  --color-zinc-700: #3f3f46;
  --color-zinc-800: #27272a;
  --color-zinc-900: #18181b;
  --color-zinc-950: #09090b;

}

:root {
  --astro-code-color-text: theme("colors.zinc.500");
  --astro-code-token-link: theme("colors.accent.600");
  --astro-code-token-comment: theme("colors.zinc.400");
  --astro-code-token-string: #60beff;
  --astro-code-token-constant: theme("colors.accent.600");
  --astro-code-background: theme("colors.zinc.50");
  --astro-code-token-keyword: #e3962d;
  --astro-code-token-function: #1da8ff;
  --astro-code-token-parameter: theme("colors.accent.600");
  --astro-code-token-punctuation: theme("colors.accent.600");
  --astro-code-token-string-expression: #ff421e;
  --astro-code-token-bold: inherit;
  --astro-code-token-italic: italic;
  --astro-code-token-underline: underline;
  --astro-code-token-bold: inherit;
  --astro-code-token-italic: italic;
  --astro-code-token-underline: underline;
}
