<section>
  <div class="p-8 max-w-7xl mx-auto border-x border-gray border-b lg:py-32">
    <div class="max-w-2xl">
      <span class="text-neutral-400 font-light">Error 404</span>
      <h1 class="text-white mt-6 text-2xl font-light">
        We apologize, but the page you are trying to access cannot be found.
        Please double-check the URL or try navigating back to the homepage. If
        you believe this is an error, please contact our support team for
        assistance.
      </h1>
      <div class="mt-6">
        <a
          href="/"
          class="items-center inline-flex text-sm focus:outline-none bg-gray border border-transparent duration-200 focus:ring-2 focus:ring-offset-2 focus:ring-white hover:bg-white/10 px-6 py-2 ring-1 ring-transparent rounded-full text-white"
          >GO BACK HOME</a
        >
      </div>
    </div>
  </div>
</section>
