<section>
  <div class="p-8 max-w-7xl mx-auto border-x border-gray border-b lg:pt-12">
    <div class="max-w-2xl">
      <span class="font-light text-neutral-400">Overview</span>
      <h1 class="text-white mt-6 text-2xl font-light">HTML pages</h1>
    </div>
  </div>
</section>
<section>
  <div
    class="max-w-7xl mx-auto border-x border-gray border-b p-8 text-neutral-400">
    <ol
      role="list"
      class="grid grid-cols-1 lg:grid-cols-5 gap-10">
      <li>
        <h3 class="text-white mt-6 text-2xl font-light">Main pages</h3>
        <ol
          role="list"
          class="mt-3 space-y-2">
          <li>
            <a
              href="/"
              title="your title"
              aria-label="your label"
              class="hover:text-white">
              Home
            </a>
          </li>
          <li>
            <a
              href="/404"
              title="your title"
              aria-label="your label"
              class="hover:text-white">
              404
            </a>
          </li>
          <li>
            <a
              href="/contact"
              title="your title"
              aria-label="your label"
              class="hover:text-white">
              Contact
            </a>
          </li>
        </ol>
      </li><li>
        <h3 class="text-white mt-6 text-2xl font-light">System pages</h3>
        <ol
          role="list"
          class="mt-3 space-y-2">
          <li>
            <a
              href="/system/overview"
              title="your title"
              aria-label="your label"
              class="hover:text-white">
              Overview
            </a>
          </li>

          <li>
            <a
              href="/system/style-guide"
              title="your title"
              aria-label="your label"
              class="hover:text-white">
              Style Guide
            </a>
          </li>
        </ol>
      </li>
    </ol>
  </div>
</section>
<section>
  <div class="p-8 max-w-7xl mx-auto border-x border-gray border-b lg:pt-12">
    <div class="max-w-2xl">
      <span class="font-light text-neutral-400">Overview</span>
      <h1 class="text-white mt-6 text-2xl font-light">Content collections</h1>
    </div>
  </div>
</section>
<section>
  <div
    class="max-w-7xl mx-auto border-x border-gray border-b p-8 text-neutral-400">
    <ol
      role="list"
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-10">
      <li>
        <h3 class="text-white text-2xl font-light">Blog Pages</h3>
        <ol
          role="list"
          class="mt-3 space-y-2">
          <li>
            <a
              href="/blog/blog"
              title="your title"
              aria-label="your label"
              class="hover:text-white">
              Blog one
            </a>
          </li>
          <li>
            <a
              href="/blog/blog-two"
              title="your title"
              aria-label="your label"
              class="hover:text-white">
              Blog two
            </a>
          </li>
          <li>
            <a
              href="/blog/blog-three"
              title="your title"
              aria-label="your label"
              class="hover:text-white">
              Blog three
            </a>
          </li>
          <li>
            <a
              href="/posts/1"
              title="your title"
              aria-label="your label"
              class="hover:text-white">
              <span>Blog Post</span>
            </a>
          </li>
          <li>
            <a
              href="/tags"
              title="your title"
              aria-label="your label"
              class="hover:text-white">
              Tag index
            </a>
          </li>
          <li>
            <a
              href="/tags/HTML"
              title="your title"
              aria-label="your label"
              class="hover:text-white">
              Tag category
            </a>
          </li>
          <li>
            <a
              href="/rss.xml"
              title="your title"
              aria-label="your label"
              class="hover:text-white">
              Rss
            </a>
          </li>
        </ol>
      </li>
      <li>
        <h3 class="text-white text-2xl font-light">Work</h3>
        <ol
          role="list"
          class="mt-3 space-y-2">
          <li>
            <a
              href="/work/home"
              title="your title"
              aria-label="your label"
              class="hover:text-white">
              Work home
            </a>
          </li>
          <li>
            <a
              href="/work/1"
              title="your title"
              aria-label="your label"
              class="hover:text-white">
              Work details
            </a>
          </li>
        </ol>
        <h3 class="text-white mt-6 text-2xl font-light">Services</h3>
        <ol
          role="list"
          class="mt-3 space-y-2">
          <li>
            <a
              href="/services/home"
              title="your title"
              aria-label="your label"
              class="hover:text-white">
              Services home
            </a>
          </li>
          <li>
            <a
              href="/services/3d-design"
              title="your title"
              aria-label="your label"
              class="hover:text-white">
              Services details
            </a>
          </li>
        </ol>
      </li>
      <li>
        <h3 class="text-white text-2xl font-light">Store</h3>
        <ol
          role="list"
          class="mt-3 space-y-2">
          <li>
            <a
              href="/store/home"
              title="your title"
              aria-label="your label"
              class="hover:text-white">
              Store home
            </a>
          </li>
          <li>
            <a
              href="/store/1"
              title="your title"
              aria-label="your label"
              class="hover:text-white">
              Store details
            </a>
          </li>
        </ol>
      </li>
      <li>
        <h3 class="text-white text-2xl font-light">Utility pages</h3>
        <ol
          role="list"
          class="mt-3 space-y-2">
          <li>
            <a
              href="/infopages/faq"
              title="your title"
              aria-label="your label"
              class="hover:text-white">
              Faq
            </a>
          </li>
           <li>
            <a
              href="/infopages/dpa"
              title="your title"
              aria-label="your label"
              class="hover:text-white">
              DPA
            </a>
          </li>
          <li>
            <a
              href="/infopages/cookies"
              title="your title"
              aria-label="your label"
              class="hover:text-white">
              Cookies
            </a>
          </li>
          <li>
            <a
              href="/infopages/terms"
              title="your title"
              aria-label="your label"
              class="hover:text-white">
              Terms of use
            </a>
          </li>
          <li>
            <a
              href="/infopages/privacy"
              title="your title"
              aria-label="your label"
              class="hover:text-white">
              Privacy policy
            </a>
          </li>

        </ol>
      </li>
      <li>
        <h3 class="text-white text-2xl font-light">Team</h3>
        <ol
          role="list"
          class="mt-3 space-y-2">
          <li>
            <a
              href="/team/home"
              title="your title"
              aria-label="your label"
              class="hover:text-white">
              Team home
            </a>
          </li>
          <li>
            <a
              href="/team/1"
              title="your title"
              aria-label="your label"
              class="hover:text-white">
              Team details
            </a>
          </li>
        </ol>
      </li>
    </ol>
  </div>
</section>
