<section>
  <div class="p-8 max-w-7xl mx-auto border-x border-gray border-b lg:py-32">
    <div class="max-w-2xl">
      <span class="text-neutral-400 font-light">Style guide</span>
      <h1 class="text-white mt-6 text-2xl font-light">Dusk's main styling</h1>
    </div>
  </div>
</section>
<section>
  <div class="p-8 max-w-7xl mx-auto border-x border-gray border-b lg:py-32">
    <div class="max-w-2xl">
      <span class="text-neutral-400 font-light">Typography</span>
      <h1 class="text-white mt-6 text-2xl font-light">Figtree & Robot Mono</h1>
    </div>
  </div>
</section>
<section>
  <div class="max-w-7xl mx-auto border-x border-gray border-b p-8">
    <div class="space-y-6">
      <div class="grid grid-cols-3 items-end lg:grid-cols-4">
        <div><span class="text-white">Header 1</span></div>
        <div class="col-span-2 lg:col-span-3">
          <span class="text-white mt-6 text-2xl font-light">Header 1</span>
        </div>
      </div>

      <div class="grid grid-cols-3 items-end lg:grid-cols-4">
        <div><span class="text-white">Link</span></div>
        <div class="col-span-2 lg:col-span-3">
          <a href="#_" class="text-sm text-white hover:text-neutral400"
            >Link text</a
          >
        </div>
      </div>
      <div class="grid grid-cols-3 items-end lg:grid-cols-4">
        <div><span class="text-white">Subtitle</span></div>
        <div class="col-span-2 lg:col-span-3">
          <span class="text-white font-light text-lg">Subtitle text</span>
        </div>
      </div>
      <div class="grid grid-cols-3 items-end lg:grid-cols-4">
        <div><span class="text-white">Paragraph</span></div>
        <div class="col-span-2 lg:col-span-3">
          <span class="text-neutral-400"
            >I am so happy, my dear friend, so absorbed in the exquisite sense
            of mere tranquil existence, that I neglect my talents.</span
          >
        </div>
      </div>
      <div class="grid grid-cols-3 items-end lg:grid-cols-4">
        <div><span class="text-white">Caption</span></div>
        <div class="col-span-2 lg:col-span-3">
          <span class="text-neutral-400 text-sm">Picture about somethign</span>
        </div>
      </div>
      <div class="grid grid-cols-3 items-end lg:grid-cols-4">
        <div><span class="text-white">List</span></div>
        <div class="col-span-2 lg:col-span-3">
          <ul
            class="text-white mt-6 list-decimal list-inside space-y-3 text-base"
            role="list">
            <li>Next.js and/or Nuxt.js</li>
            <li>CReact Native .</li>
            <li>AWS and/or Firebase</li>
            <li>Familiarity with noSQL databases</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="p-8 max-w-7xl mx-auto border-x border-gray border-b lg:py-32">
    <div class="max-w-2xl">
      <span class="text-neutral-400 font-light">Colors</span>
      <h1 class="text-white mt-6 text-2xl font-light">
        Dusk's main color palette
      </h1>
    </div>
  </div>
</section>
<section>
  <div class="p-8 max-w-7xl mx-auto border-x border-gray border-b">
    <div class="grid grid-cols-2 lg:grid-cols-3">
      <div class="lg:justify-center p-6 bg-white border border-gray"></div>
      <div class="lg:justify-center p-6 bg-gray border border-gray"></div>
      <div class="lg:justify-center p-6 bg-black border border-gray"></div>
    </div>
  </div>
</section>
<section>
  <div class="p-8 max-w-7xl mx-auto border-x border-gray border-b lg:py-32">
    <div class="max-w-2xl">
      <span class="text-neutral-400 font-light">Buttons</span>
      <h1 class="text-white mt-6 text-2xl font-light">Dusk's buttons.</h1>
    </div>
  </div>
</section>
<section>
  <div class="p-8 max-w-7xl mx-auto border-x border-gray border-b">
    <div>
      <a
        href="/contact"
        class="items-center inline-flex text-sm focus:outline-none bg-gray border border-transparent duration-200 focus:ring-2 focus:ring-offset-2 focus:ring-white hover:bg-white/10 px-6 py-2 ring-1 ring-transparent rounded-full text-white"
        >PRIMARY</a
      >
      <a
        href="/contact"
        class="items-center inline-flex text-sm focus:outline-none bg-black border border-gray duration-200 focus:ring-2 focus:ring-offset-2 focus:ring-white hover:bg-white/10 px-6 py-2 ring-1 ring-transparent rounded-full text-white"
        >SECONDARY</a
      >
      <a
        href="/contact"
        class="items-center inline-flex text-sm focus:outline-none duration-200 focus:ring-2 focus:ring-offset-2 focus:ring-white hover:text-neutral-400 px-6 py-2 ring-1 ring-transparent rounded-full text-white"
        >GHOST</a
      >
    </div>
  </div>
</section>
