<section>
  <div
    class="p-8 max-w-7xl mx-auto border-x border-b lg:border-b-0 border-gray border-t">
    <div>
      <span class="text-neutral-400 font-light">Raizora Indonesia</span>
    </div>
    <div class="mt-32 grid grid-cols-1 lg:grid-cols-2">
      <div>
        <p class="text-white text-2xl font-light">
          <span class="block">Mengakar kuat,</span>
          <span class="block">Tumbuh Bersama.</span>
        </p>
      </div>
      <div>
        <div class="mt-4 gap-2 grid md:grid-cols-2">
          <ul role="list">
            <li>
              <a
                href="/system/overview"
                title="your title"
                aria-label="your label"
                class="text-sm font-normal hover:text-white text-neutral-400"
                >Career</a
              >
            </li>
            <li>
              <a
                href="/system/style-guide"
                title="your title"
                aria-label="your label"
                class="text-sm font-normal hover:text-white text-neutral-400"
                >Contact us</a
              >
            </li>
            <li>
              <a
                href="https://raizora.com/"
                title="your title"
                aria-label="your label"
                class="text-sm font-normal hover:text-white text-neutral-400"
                >Partnership</a
              >
            </li>
            <li>
              <a
                href="https://drive.google.com/file/d/14pmBzAcCz_zNMjdFphijhRtbYpI-W4wg/view?usp=sharing"
                title="your title"
                aria-label="your label"
                class="text-sm font-normal hover:text-white text-neutral-400"
                >Code of conduct</a
              >
            </li>
          </ul>
          <ul role="list">
            <li>
              <a
                href="https://www.linkedin.com/company/raizora"
                title="your title"
                aria-label="your label"
                class="text-sm font-normal hover:text-white text-neutral-400"
                >@linkedin</a
              >
            </li>
            <li>
              <a
                href="https://www.instagram.com/raizora_indonesia/"
                title="your title"
                aria-label="your label"
                class="text-sm font-normal hover:text-white text-neutral-400"
                >@instagram</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
