<div class="mx-auto bg-black justify-center w-full">
  <div
    class="mx-auto max-w-7xl flex flex-col lg:flex-row lg:items-center lg:justify-between p-8 w-full border border-t-none border-gray"
    x-data="{ open: false }">
    <div class="text-white flex flex-row items-center justify-between">
      <a
        href="/"
        title="your title"
        aria-label="your label"
        class="items-center inline-flex font-display uppercase"
        >
        <img
          src="/logo.png"
          alt="logo"
          width="28"
        /> 
        <span class="ml-2 font-semibold">Raizora</span>
      </a><button
        @click="open = !open"
        class="focus:shadow-outline focus:outline-none lg:hidden rounded-lg"
        ><svg
          class="h-5 w-5"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          ><path
            :class="{'hidden': open, 'inline-flex': !open }"
            class="inline-flex"
            d="M4 6h16M4 12h16M4 18h16"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
          ></path><path
            :class="{'hidden': !open, 'inline-flex': open }"
            class="hidden"
            d="M6 18L18 6M6 6l12 12"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
          ></path></svg
        ></button
      >
    </div><nav
      class="hidden flex-col flex-grow text-white text-sm gap-4 lg:gap-8 items-center lg:flex lg:flex-row lg:justify-start lg:mt-0 lg:p-0 lg:px-0 md:pb-0 opacity-100 p-4 px-5"
      :class="{'flex': open, 'hidden': !open}">
      <a
        href=""
        title="your title"
        aria-label="your label"
        class="items-center inline-flex focus:outline-none bg-gray border border-transparent duration-200 focus:ring-2 focus:ring-offset-2 focus:ring-white hover:bg-white/10 px-6 py-2 ring-1 ring-transparent rounded-full text-sm text-white lg:ml-auto"
        >Contact us</a
      >
    </nav>
  </div>
</div>
