---
const faqs = [
  {
    question: "Why wouldn't I just hire a full-time designer?",
    answer:
      "Good question! For starters, the annual cost of a full-time senior-level designer now exceeds $100,000, plus benefits (and good luck finding one available). Aside from that, you may not always have enough work to keep them busy at all times, so you're stuck paying for time you aren't able to utilize. With the monthly plan, you can pause and resume your subscription as often as you need to ensure you're only paying your designer when you have work available for them.",
  },
  {
    question: "Is there a limit to how many requests I can have?",
    answer:
      "Once subscribed, you're able to add as many design requests to your queue as you'd like, and they will be delivered one by one.",
  },
  {
    question: "How fast will I receive my designs?",
    answer:
      "On average, most requests are completed in just two days or less. However, more complex requests can take longer.",
  },
  {
    question: "Can I change my plan later?",
    answer:
      "Absolutely, you can adjust your plan at any time to fit your needs. Whether you need to scale up for more extensive projects or scale down, we're flexible.",
  },
  {
    question: "What kind of design work can you do?",
    answer:
      "We specialize in a wide range of design work, including web design, graphic design, UX/UI, and more. Just let us know what you need!",
  },
  {
    question: "Do I own the rights to the designs?",
    answer:
      "Yes, once the project is completed and paid for, you own the full rights to the designs.",
  },
  {
    question: "What if I'm not satisfied with a design?",
    answer:
      "We strive for your satisfaction, so if you're not happy with a design, we'll make the necessary revisions until you are.",
  },
  {
    question: "How does the billing cycle work?",
    answer:
      "Our billing cycle is monthly, starting from the day you subscribe. You can pause or cancel your subscription anytime.",
  },
  {
    question: "What software do your designers use?",
    answer:
      "Our designers are proficient in a variety of software, including Adobe Creative Suite, Sketch, Figma, and more, ensuring we can accommodate your specific project needs.",
  },
];
---

<section>
  <div
    class="p-8 max-w-7xl mx-auto border-x border-b lg:border-b-0 border-gray lg:py-32">
    <div class="max-w-2xl">
      <span class="text-neutral-400 font-light">FAQ</span>
      <h3 class="text-white mt-6 text-2xl font-light">
        Frequent questions & answers
      </h3>
    </div>
  </div>
</section>
<section>
  <div class="max-w-7xl mx-auto">
    <div class="relative border-gray bg-vulcan-900 border mx-auto">
      <ul
        class="list-none text-white"
        role="list">
        {
          faqs.map((faq, index) => (
            <li class="relative border-gray border-b flex">
              <details class="w-full px-8 py-6 text-left cursor-pointer flex group">
                <summary class="text-white justify-between flex mt-6 text-2xl font-light cursor-pointer">
                  {faq.question}
                  <span class="transition group-open:rotate-180">
                    <svg
                      fill="none"
                      height="24"
                      shape-rendering="geometricPrecision"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="1.5"
                      viewBox="0 0 24 24"
                      width="24">
                      <path d="M6 9l6 6 6-6" />
                    </svg>
                  </span>
                </summary>
                <div class="text-neutral-400 pb-20 pt-4 ">{faq.answer}</div>
              </details>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</section>
