---
const products = [
  {
    "text": "Focused on hobbies, offering products and services to support hobby enthusiasts. We aim to be the go-to place for hobby lovers.",
    "name": "Himajin",
    "title": "Hobby Store",
    "logo": "/himajin-logo.png"
  },
  {
    "text": " A digital agency offering services like web and app development, social media management, UI design, graphic design, logo design, and product photography. We help businesses succeed in the digital age with innovative solutions.",
    "name": "Ketuju",
    "title": "Digital Sectors",
    "logo": "/ketuju-logo.png"
  },
  {
    "text": "A property business providing comfortable and high-quality housing solutions, creating peaceful living spaces.",
    "name": "Tempat Teduh",
    "title": "Property Rent",
    "logo": "/tempat-teduh-logo.png"
  },
  {
    "text": "Albin stands out as a designer and developer with a keen grasp of business necessities. Drawing on his extensive experience, he swiftly created several high-quality landing pages for our platform, Versoly.",
    "name": "GEA Rental",
    "title": "Travel",
    "logo": "/gea-logo.png"
  }
];
---

<section>
  <div class="p-8 max-w-7xl mx-auto border-x border-gray border-b lg:py-32">
    <div class="max-w-2xl">
      <span class="text-neutral-400 font-light"
        >Bussiness Lines</span
      >
      <h1 class="text-white mt-6 text-2xl font-light text-balance">
        We believe in the power of synergy. Our five distinct yet interconnected business lines form a harmonious ecosystem, each strengthening the others to create a robust and dynamic business model.
      </h1>
    </div>
  </div>
</section>
<section>
  <div class="max-w-7xl mx-auto border-x border-gray border-b">
    <div
      class="text-white grid grid-cols-1 md:grid-cols-2 lg:divide-x divide-gray">
      {
        products.map((testimonial) => (
          <div class="flex flex-col justify-between h-full p-8">
            <div class="mb-2">
              <img
                src={testimonial.logo}
                width="80"
              />
              <span class="block font-semibold">{testimonial.name}</span>
            </div>
            <p class="text-neutral-400">{testimonial.text}</p>
          </div>
        ))
      }
    </div>
  </div>
</section>
