---
const jamstackAdvantages = [
  {
    title: "Continuous Innovation",
    description: "We never settle for the status quo. Every challenge is viewed as an opportunity to create smarter, more efficient, and meaningful solutions.",
  },
  {
    title: "Inclusive Collaboration",
    description: "Diversity is our strength. We build an environment where every voice is valued, every idea is heard, and the potential of each individual can develop optimally.",
  },
  {
    title: "Social Responsibility",
    description: "Our true success is measured not just by financial gains, but by the positive impact we create for society and the environment.",
  },
  {
    title: "Entrepreneurial Spirit",
    description: " We encourage every team member to think and act like an entrepreneur - brave in taking initiative, ready to face risks, and always seeking opportunities for innovation.",
  },
  {
    title: "Sustainable Growth",
    description: "We believe in the philosophy of 'growing strong' - building a robust foundation while continuously developing, learning, and adapting to the dynamics of change.",
  },
];
---


<section>
  <div class="p-8 max-w-7xl mx-auto border-x border-gray border-b lg:py-32">
    <div class="max-w-2xl">
      <span class="text-neutral-400 font-light">Our Culture and Values</span>
      <h3 class="text-white mt-6 text-2xl font-light text-pretty">
        The culture of Raizora is built on the foundation of collective strength, innovation spirit, and commitment to creating positive impact. We believe that true transformation emerges from the combination of bold thinking, humility in learning, and dedication to collective growth.
      </h3>
    </div>
  </div>
</section>
<section>
  <div class="max-w-7xl mx-auto border-x border-gray border-b divide-y divide-gray">
    <div
      class="text-white grid grid-cols-1 md:grid-cols-3 lg:divide-x divide-gray">
      {
        jamstackAdvantages.map((advantage) => (
          <div class="flex flex-col p-8">
            <div class="font-light">{advantage.title}</div>
            <p class="text-neutral-400 mt-3 text-pretty">{advantage.description}</p>
          </div>
        ))
      }
    </div>


  </div>
</section>
