---
// Define an array of tips for website creation
const creationTips = [
  {
    title: "Manage your finances wisely",
    description:
      "You want to have a clear understanding of the cost right from the beginning.",
  },
  {
    title: "Demonstrate, don't just explain",
    description:
      "You want to precisely know what you will receive in return for your investment.",
  },
  {
    title: "Value your time investment",
    description:
      "You don't want to spend excessive hours interviewing freelancers or studios.",
  },
  {
    title: "Get fast results",
    description:
      "You needed a website yesterday and have no time to waste on interviews.",
  },
  {
    title: "New to website creation",
    description:
      "You desire an appealing website but lack knowledge about where to begin.",
  },
  {
    title: "Realize your website vision",
    description:
      "Your current site is not up to par, and you want professionals to create an outstanding one.",
  },
];
---

<section>
  <div class="p-8 max-w-7xl mx-auto border-x border-gray border-b lg:py-32">
    <div class="max-w-2xl">
      <span class="text-neutral-400 font-light">Culture and Values</span>
      <h3 class="text-white mt-6 text-2xl font-light">
        We understand that trust is the foundation of any successful
        relationship. We strive to earn and maintain your trust by consistently
        delivering exceptional products and services. Here's why you can rely on
        us
      </h3>
    </div>
  </div>
</section>
<section>
  <div class="max-w-7xl mx-auto border-x border-gray border-b">
    <div class="text-white grid grid-cols-1 divide-y divide-gray">
      {
        creationTips.map((tip) => (
          <div class="grid grid-cols-1 md:grid-cols-3 gap-3 justify-between p-8">
            <div class="font-light">{tip.title}</div>
            <p class="text-neutral-400 md:col-span-2">{tip.description}</p>
          </div>
        ))
      }
    </div>
  </div>
</section>
