---
// Logo Component This component renders an SVG logo and accepts props for customization.
// Props: - class: A string of additional classes to style the SVG.
// - ...rest: Any other valid attributes for an <svg> element (e.g., id, style, role, aria-label, etc.).
// Example Usage: <Logo class="my-custom-class" /> or <Logo id="logo-id" style="width: 50px; height: 50px;" />
const { class: className = "", ...rest } = Astro.props;
---

<button
  class={className}
  {...rest}
  role="switch"
  aria-checked="false"
  data-theme-toggle
>
  <svg
   class=" size-5 mx-auto"
    viewBox="0 0 15 15"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    ><path
      d="M3 9C3 6.5 4.5 4.25 7.5 1.5C10.5 4.25 12 6.5 12 9C12 11.4853 9.98528 13.5 7.5 13.5C5.01472 13.5 3 11.4853 3 9ZM10.9524 8.30307C9.67347 7.82121 8.2879 8.46208 6.98956 9.06259C5.9327 9.55142 4.93365 10.0135 4.09695 9.82153C4.03357 9.55804 4 9.28294 4 9C4 7.11203 5.02686 5.27195 7.5 2.87357C9.66837 4.97639 10.725 6.65004 10.9524 8.30307Z"
      fill="currentColor"
      fill-rule="evenodd"
      clip-rule="evenodd"></path></svg
  >
  
</button>

<script>
  function updateTheme(isDark) {
    document.documentElement.classList.toggle("dark", isDark);
    localStorage.setItem("theme", isDark ? "dark" : "light");

    // Update all theme toggles
    document.querySelectorAll("[data-theme-toggle]").forEach((button) => {
      button.setAttribute("aria-checked", isDark ? "true" : "false");
    });
  }

  function initializeTheme() {
    const savedTheme = localStorage.getItem("theme");
    const systemPrefersDark = window.matchMedia(
      "(prefers-color-scheme: dark)"
    ).matches;
    const isDark = savedTheme ? savedTheme === "dark" : systemPrefersDark;
    updateTheme(isDark);
  }

  initializeTheme();

  // Attach event listener to all theme toggles
  document.querySelectorAll("[data-theme-toggle]").forEach((button) => {
    button.addEventListener("click", () => {
      const isDark = document.documentElement.classList.contains("dark");
      updateTheme(!isDark);
    });
  });
</script>
