---
const { company, longImage} = Astro.props;
---

<li class="p-8 flex flex-col h-full">
 <a >
    <img
      class="w-full h-[40rem] object-cover object-top"
      src={longImage}
      alt={company}
    />
 </a>

</li>
