---
import { getCollection } from "astro:content";
const allPosts = await getCollection("team");
import BaseLayout from "@/layouts/BaseLayout.astro";
import TeamEntries from "@/components/team/TeamEntries.astro";
---

<BaseLayout>
  <section>
    <div class="px-8 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl lg:py-32">
      <h1
        class="text-4xl lg:text-6xl        font-medium text-black text-balance">
        United in excellence: meet the pioneers behind our success
      </h1>
      <p
        class="text-black/80 text-lg lg:text-xl tracking-wid font-medium text-balance mt-8">
        Our team is the driving force behind our success. We are a group of
        passionate professionals who are dedicated to pushing the boundaries of
        creativity and innovation. Together, we work tirelessly to deliver
        exceptional results and create outstanding digital experiences for our
        clients. Meet the brilliant minds that make our projects come to life
        and discover the stories behind their passion for creating exceptional
        work.
      </p>
      <div class="grid mt-12 lg:mt-24 lg:grid-cols-2 gap-y-24 gap-8 ">
        {
          allPosts.map((post) => (
            <TeamEntries
              url={"/team/" + post.slug}
              name={post.data.name}
              role={post.data.role}
              avatar={post.data.avatar.url}
            />
          ))
        }
      </div>
    </div>
  </section>
</BaseLayout>
