<section class="bg-regent-500">
  <div class="px-8 pt-12 mx-auto md:px-12 lg:px-24 max-w-7xl lg:pt-32">
    <div>
      <span class="uppercase tracking-wide font-medium text-black">
        ⏤ Request a demo
      </span>
      <p class="mt-16 text-2xl lg:text-4xl text-black">
        Attend a demo session an speak to a Snowpeak expert and learn how we can
        help your organization secure resources.
      </p>
    </div>
  </div>
  <div
    class="grid gap-12 lg:gap-0 lg:grid-cols-2 mt-24 bg-white items-center lg:divide-x divide-gray-300"
  >
    <section class="md:px-12 lg:px-40 2xl:px-24 px-8">
      <div class="overflow-hidden">
        <div class="text-left">
          <div>
            <p class="text-2xl lg:text-4xl text-black mt-12 lg:mt-0">
              "Snowpeak is a powerful platform that allows us to
              programmatically deploy and maintain a zero trust approach to our
              infrastructure."
            </p>
            <p class="max-w-xl mt-4 text-lg text-black/80">
              <span class="block font-medium">Gerard DePardieu</span>
              <span
                class="block uppercase tracking-wide font-medium text-regent-600"
                >Head of Something at Somewhere</span
              >
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="relative overflow-hidden md:p-12 lg:p-32 p-8">
      <form>
        <div class="space-y-6">
          <div class="flex flex-row w-full gap-3">
            <div class="w-full space-y-1">
              <label
                for="first_name"
                class="block text-sm font-medium text-gray-600"
                >First name</label
              >
              <input
                id="first_name"
                type="text"
                name="first_name"
                autocomplete="given-name"
                required
                aria-required="true"
                placeholder="Your name..."
                class="w-full px-3 py-2 bg-white placeholder-gray-400 border border-gray-300 rounded-lg duration-200 focus:outline-none focus:ring focus:ring-regent-100 focus:border-regent-300"
              />
            </div>
            <div class="w-full space-y-1">
              <label
                for="last_name"
                class="block text-sm font-medium text-gray-600">Last name</label
              >
              <input
                id="last_name"
                type="text"
                name="last_name"
                autocomplete="family-name"
                required
                aria-required="true"
                placeholder="Your last name..."
                class="w-full px-3 py-2 bg-white placeholder-gray-400 border border-gray-300 rounded-lg duration-200 focus:outline-none focus:ring focus:ring-regent-100 focus:border-regent-300"
              />
            </div>
          </div>
          <div class="space-y-1">
            <label
              for="primary_role"
              class="block text-sm font-medium text-gray-600"
              >Your primary role</label
            >
            <input
              id="primary_role"
              type="text"
              name="primary_role"
              placeholder="Type here..."
              class="w-full px-3 py-2 bg-white placeholder-gray-400 border border-gray-300 rounded-lg duration-200 focus:outline-none focus:ring focus:ring-regent-100 focus:border-regent-300"
            />
          </div>
          <div class="space-y-1">
            <label
              for="company_name"
              class="block text-sm font-medium text-gray-600"
              >Company name</label
            >
            <input
              id="company_name"
              type="text"
              name="company_name"
              placeholder="Type here..."
              class="w-full px-3 py-2 bg-white placeholder-gray-400 border border-gray-300 rounded-lg duration-200 focus:outline-none focus:ring focus:ring-regent-100 focus:border-regent-300"
            />
          </div>
          <div class="space-y-1">
            <label
              for="num_employees"
              class="block text-sm font-medium text-gray-600"
              >Number of employees</label
            >
            <input
              id="num_employees"
              type="text"
              name="num_employees"
              placeholder="Type here..."
              class="w-full px-3 py-2 bg-white placeholder-gray-400 border border-gray-300 rounded-lg duration-200 focus:outline-none focus:ring focus:ring-regent-100 focus:border-regent-300"
            />
          </div>
          <div class="space-y-1">
            <label
              for="usage_plan"
              class="block text-sm font-medium text-gray-600"
              >How do you plan to use Snowpeak?</label
            >
            <input
              id="usage_plan"
              type="text"
              name="usage_plan"
              placeholder="Type here..."
              class="w-full px-3 py-2 bg-white placeholder-gray-400 border border-gray-300 rounded-lg duration-200 focus:outline-none focus:ring focus:ring-regent-100 focus:border-regent-300"
            />
          </div>
          <div class="mb-4">
            <label for="message" class="block text-sm font-medium text-gray-600"
              >Any additional message?</label
            >
            <textarea
              rows="4"
              name="message"
              id="message"
              placeholder="Your Message"
              class="w-full h-28 px-3 py-2 bg-white placeholder-gray-400 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-regent-100 focus:border-regent-300"
              required></textarea>
          </div>
          <div class="col-span-full">
            <button
              type="submit"
              class="inline-flex items-center lg:text-xl justify-center w-full px-6 py-4 text-center text-black duration-200 bg-regent-500 font-medium rounded-full text-base focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-regent-500 ring-offset-2 hover:bg-regent-100"
            >
              Create an account
            </button>
          </div>
        </div>
      </form>
    </section>
  </div>
</section>
