<div
  x-show="open"
  style="display: none"
  x-on:keydown.escape.prevent.stop="open = false"
  role="dialog"
  aria-modal="true"
  x-id="['modal-title']"
  :aria-labelledby="$id('modal-title')"
  class="fixed inset-0 z-10 overflow-y-auto w-full">
  <!-- Overlay -->
  <div
    x-show="open"
    x-transition.opacity
    class="fixed inset-0 bg-regent-200 bg-opacity-50 w-full">
  </div>

  <!-- Panel -->
  <div
    x-show="open"
    x-transition
    x-on:click="open = false"
    class="relative flex min-h-screen items-center justify-center p-4 w-full">
    <div
      x-on:click.stop
      x-trap.noscroll.inert="open"
      class="relative w-full max-w-xl overflow-y-auto rounded-2xl lg:rounded-[3rem] bg-white p-12">
      <h2
        class="text-2xl        font-medium text-black"
        :id="$id('modal-title')">
        Customize Consent Preferences
      </h2>

      <!-- Content -->

      <p class="mt-6 text-gray-500 text-sm">
        We use first-party and third-party cookies to provide a better
        experience, tailor and measure ads, analyze traffic, and personalize
        content. See Section 4 of our<span
          class="text-black hover:text-regent-600 duration-200 underline">
          Privacy Policy</span
        > to learn more.
      </p>
      <div class="mt-4 divide-y border-b border-y">
        <div class="flex items-center justify-between py-3">
          <span class="flex flex-grow flex-col">
            <span
              class="text-sm font-medium leading-6 text-black"
              id="availability-label"
              >Necesary</span
            >
            <span
              class="text-sm text-gray-500"
              id="#">
              Necessary cookies are required for this website to function and
              cannot be disabled.
            </span>
          </span>

          <!-- Toggle -->
          <div
            x-data="{ value: false }"
            class="flex items-center justify-center"
            x-id="['toggle-label']">
            <input
              type="hidden"
              name="sendNotifications"
              :value="value"
            />

            <!-- Label -->
            <label
              @click="$refs.toggle.click(); $refs.toggle.focus()"
              :id="$id('toggle-label')"
              class="sr-only">
              Toggle
            </label>

            <!-- Button -->
            <button
              x-ref="toggle"
              @click="value = ! value"
              type="button"
              role="switch"
              :aria-checked="value"
              :aria-labelledby="$id('toggle-label')"
              :class="value ? 'bg-regent-400' : 'bg-regent-100'"
              class="relative ml-4 inline-flex w-14 rounded-full py-1 transition">
              <span
                :class="value ? 'translate-x-7' : 'translate-x-1'"
                class="bg-white size-6 rounded-full transition shadow-md"
                aria-hidden="true"
              ></span>
            </button>
          </div>
        </div>
        <div class="flex items-center justify-between py-3">
          <span class="flex flex-grow flex-col">
            <span
              class="text-sm font-medium leading-6 text-black"
              id="availability-label"
              >Functional</span
            >
            <span
              class="text-sm text-gray-500"
              id="#">
              Functional cookies enable this website to provide enhanced
              functionality and personalization.
            </span>
          </span>

          <!-- Toggle -->
          <div
            x-data="{ value: false }"
            class="flex items-center justify-center"
            x-id="['toggle-label']">
            <input
              type="hidden"
              name="sendNotifications"
              :value="value"
            />

            <!-- Label -->
            <label
              @click="$refs.toggle.click(); $refs.toggle.focus()"
              :id="$id('toggle-label')"
              class="sr-only">
              Toggle
            </label>

            <!-- Button -->
            <button
              x-ref="toggle"
              @click="value = ! value"
              type="button"
              role="switch"
              :aria-checked="value"
              :aria-labelledby="$id('toggle-label')"
              :class="value ? 'bg-regent-400' : 'bg-regent-100'"
              class="relative ml-4 inline-flex w-14 rounded-full py-1 transition">
              <span
                :class="value ? 'translate-x-7' : 'translate-x-1'"
                class="bg-white size-6 rounded-full transition shadow-md"
                aria-hidden="true"
              ></span>
            </button>
          </div>
        </div>
        <div class="flex items-center justify-between py-3">
          <span class="flex flex-grow flex-col">
            <span
              class="text-sm font-medium leading-6 text-black"
              id="availability-label"
              >Analytics</span
            >
            <span
              class="text-sm text-gray-500"
              id="#">
              Analytics cookies are used to understand how visitors interact
              with our website, such as by counting visits to pages and
              identifying sources of traffic.
            </span>
          </span>

          <!-- Toggle -->
          <div
            x-data="{ value: false }"
            class="flex items-center justify-center"
            x-id="['toggle-label']">
            <input
              type="hidden"
              name="sendNotifications"
              :value="value"
            />

            <!-- Label -->
            <label
              @click="$refs.toggle.click(); $refs.toggle.focus()"
              :id="$id('toggle-label')"
              class="sr-only">
              Toggle
            </label>

            <!-- Button -->
            <button
              x-ref="toggle"
              @click="value = ! value"
              type="button"
              role="switch"
              :aria-checked="value"
              :aria-labelledby="$id('toggle-label')"
              :class="value ? 'bg-regent-400' : 'bg-regent-100'"
              class="relative ml-4 inline-flex w-14 rounded-full py-1 transition">
              <span
                :class="value ? 'translate-x-7' : 'translate-x-1'"
                class="bg-white size-6 rounded-full transition shadow-md"
                aria-hidden="true"
              ></span>
            </button>
          </div>
        </div>
        <div class="flex items-center justify-between py-3">
          <span class="flex flex-grow flex-col">
            <span
              class="text-sm font-medium leading-6 text-black"
              id="availability-label"
              >Marketing and Advertising</span
            >
            <span
              class="text-sm text-gray-500"
              id="#">
              Marketing cookies help to deliver advertising that's more relevant
              to you. They may also be used to limit the number of times you see
              an advertisement and measure the effectiveness of advertising
              campaigns.
            </span>
          </span>

          <!-- Toggle -->
          <div
            x-data="{ value: false }"
            class="flex items-center justify-center"
            x-id="['toggle-label']">
            <input
              type="hidden"
              name="sendNotifications"
              :value="value"
            />

            <!-- Label -->
            <label
              @click="$refs.toggle.click(); $refs.toggle.focus()"
              :id="$id('toggle-label')"
              class="sr-only">
              Toggle
            </label>

            <!-- Button -->
            <button
              x-ref="toggle"
              @click="value = ! value"
              type="button"
              role="switch"
              :aria-checked="value"
              :aria-labelledby="$id('toggle-label')"
              :class="value ? 'bg-regent-400' : 'bg-regent-100'"
              class="relative ml-4 inline-flex w-14 rounded-full py-1 transition">
              <span
                :class="value ? 'translate-x-7' : 'translate-x-1'"
                class="bg-white size-6 rounded-full transition shadow-md"
                aria-hidden="true"
              ></span>
            </button>
          </div>
        </div>
      </div>
      <div class="flex flex-col gap-1 items-center mt-2 pt-2 w-full">
        <button
          type="button"
          class="inline-flex items-center justify-center w-full lg:px-12 px-6 py-4 text-center text-black duration-200 bg-regent-50 font-medium rounded-full text-base focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-regent-500 ring-offset-2 hover:bg-regent-100">
          Reject all
        </button>

        <button
          type="button"
          class="inline-flex items-center justify-center w-full lg:px-12 px-6 py-4 text-center text-black duration-200 bg-regent-50 font-medium rounded-full text-base focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-regent-500 ring-offset-2 hover:bg-regent-100">
          Save my preferences
        </button>

        <button
          type="button"
          class="inline-flex items-center w-full justify-center lg:px-12 px-6 py-4 text-center text-black duration-200 bg-regent-400 font-medium rounded-full text-base focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-regent-500 ring-offset-2 hover:bg-regent-300">
          Accept all
        </button>
      </div>
    </div>
  </div>
</div>
