---
// Define an array with each object containing the image source, alternative text, and any additional classes that change from the base
const logos = [
  { src: "/logos/basecamp.svg", alt: "Basecamp logo", uniqueClass: "" },
  { src: "/logos/dribbble.svg", alt: "Dribbble logo", uniqueClass: "" },
  { src: "/logos/stripe.svg", alt: "Stripe logo", uniqueClass: "" },
  // Assuming "sm:col-start-2" is the unique class for this image
  { src: "/logos/pipe.svg", alt: "Pipe logo", uniqueClass: "sm:col-start-2" },
  // Assuming "col-start-2 sm:col-start-auto" are the unique classes for this image
  {
    src: "/logos/github.svg",
    alt: "GitHub logo",
    uniqueClass: "col-start-2 sm:col-start-auto",
  },
];

// Base classes common to all images
const baseClasses =
  "col-span-2 max-h-12 w-full object-contain lg:col-span-1 invert";

---
<section>
  <div
    class="max-w-7xl px-8 md:px-12 lg:px-24 mx-auto py-12  justify-center">
    <div class="text-center justify-center lg:justify-start">
      <span
        class="text-base items-center inline-flex uppercase tracking-wide font-medium text-regent-600">
        Our beloved customers</span
      >
    </div>
    <div
      class="mx-auto mt-10 grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-5">
      {
        logos.map(({ src, alt, uniqueClass }) => (
          <img
            class={`${baseClasses} ${uniqueClass}`}
            src={src}
            alt={alt}
            width="158"
            height="48"
          />
        ))
      }
    </div>

  </div>
</section>
