---
import { getCollection } from "astro:content";
const allPosts = await getCollection("work");
import BaseLayout from "@/layouts/BaseLayout.astro";
import AllWork from "@/components/work/AllWork.astro";
---

<BaseLayout>
  <section>
    <div class="p-8 max-w-7xl mx-auto border-x border-gray border-b lg:py-32">
      <div class="max-w-2xl">
        <span class="text-neutral-400 font-light">Work</span>
        <h1 class="text-white text-2xl font-light   ">
          Projects that we had the opportunity to work on and were selected top
          of the morning.
        </h1>
      </div>
    </div>
  </section>
  <section>
    <div class="max-w-7xl mx-auto border-x border-gray border-b p-8">
      <ul
        role="list"
        class="grid grid-cols-1 md:grid-cols-2 gap-x-8 gap-y-16">
        {
          allPosts.map((post) => (
            <AllWork
              url={"/work/" + post.slug}
              company={post.data.company}
              alt={post.data.company}
              thumbnail={post.data.thumbnail.url}
            />
          ))
        }
      </ul>
    </div>
  </section>
</BaseLayout>
