<section class="overflow-hidden bg-regent-500">
  <div
    class="items-center w-full px-8 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl lg:py-36">
    <div class="text-center mx-auto">


      <p class="text-4xl  lg:text-8xl        font-medium">
        Build your <span class="md:block">own integration</span>
      </p><p class="mt-4  text-lg text-black/80 mx-auto font-medium text-balance">
        Create your own integration with Snowpeaks's API and submit it to the
        directory
      </p>
      <div class="flex mt-10 w-full justify-center">
        <a
          class="inline-flex items-center lg:text-xl justify-center w-auto lg:px-12 px-6 py-4 text-center text-black duration-200 bg-white font-medium rounded-full text-base focus:outline-none focus:ring-2 focus:ring-offset-2 hover:text-white focus:ring-regent-900 ring-offset-2 hover:bg-regent-900"
          href="/">See all pages</a
        >
      </div>
    </div>
  </div>
</section>
