@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/utilities"

@layer components {
  .prose-styles {
    @apply max-w-3xl prose prose-p:text-gray-500 prose-headings:font-normal prose-img:aspect-video prose-a:text-gray-600 prose-a:underline-offset-4 prose-a:decoration-gray-600 prose-a:hover:decoration-gray-800 prose-code:bg-gray-100 prose-code:rounded-none prose-code:p-1 prose-pre:bg-gray-100 prose-pre:rounded-md prose-pre:p-2 prose-pre:overflow-x-auto prose-blockquote:border-l-4 prose-blockquote:border-gray-200 prose-blockquote:pl-4 prose-blockquote:ml-0 prose-hr:border-gray-200 prose-hr:my-6 prose-ol:list-decimal prose-ul:list-disc prose-li:font-normal ;
  }
}
@theme {
/* Typography*/
  --font-sans: "Inter", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
  /* Breakpoints */
  --screen-sm: 640px;
  --screen-md: 768px;
  --screen-lg: 1024px;
  --screen-xl: 1280px;
  --screen-2xl: 1536px;
  --screen-3xl: 1920px; /* Custom breakpoint */
  --screen-4xl: 2560px; /* Custom breakpoint */
  --screen-5xl: 3072px; /* Custom breakpoint */
  --screen-6xl: 3840px; /* Custom breakpoint */
  --screen-7xl: 5120px; /* Custom breakpoint */

}

@supports (font-variation-settings: normal) {
  /* Use variable font if supported */
  :root {
    font-family: InterVariable, sans-serif;
  }
}
:root {
  /* Typography */
  font-family: Inter, sans-serif;
  font-feature-settings:
  "liga" 1,
  "calt" 1, /* Contextual Alternates */
  "dlig" 1, /* Discretionary Ligatures */
  "ss07" 1, /* fSquare punctuation */
  "ss08" 1, /* Square quotes */
  "zero" 1, /* Slashed zero */
  "tnum" 1, /* Tabular numbers */
    "cv03" 1, /* Open six */
    "cv04" 1, /* Open nine */
    "cv01" 1, /* Alternate one */
    "cv09", /* Flat-top three */
    "cv02" 1; /* Open 4 */
  /* Style code blocks */
  --astro-code-color-text: theme('colors.black');
  --astro-code-color-background: theme('colors.gray.200');
  --astro-code-token-constant: theme('colors.gray.500');
  --astro-code-token-string: theme('colors.gray.500');
  --astro-code-token-comment: theme('colors.gray.400');
  --astro-code-token-keyword: theme('colors.gray.700');
  --astro-code-token-parameter: theme('colors.gray.900');
  --astro-code-token-function: theme('colors.gray.600');
  --astro-code-token-string-expression: theme('colors.gray.500');
  --astro-code-token-punctuation: theme('colors.gray.500');
  --astro-code-token-link: theme('colors.gray.800');
}






