<section class="overflow-y-auto bg-white">
  <div
    class="items-center w-full px-8 py-12 mx-auto md:px-12 lg:px-16 max-w-7xl lg:py-32">
    <div>
      <span
        class="w-auto text-base items-center inline-flex uppercase tracking-wide font-medium text-regent-600">
        <svg
          class="w-6 h-6"
          viewBox="0 0 147 148"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M77.0546 0.147949H69.9463V147.148H77.0546V0.147949Z"
            fill="currentColor"></path>
          <path
            d="M77.0546 0.147949H69.9463V147.148H77.0546V0.147949Z"
            fill="currentColor"
            fill-opacity="0.2"></path>
          <path d="M147 70.0938H0V77.2021H147V70.0938Z" fill="currentColor"
          ></path>
          <path
            d="M147 70.0938H0V77.2021H147V70.0938Z"
            fill="currentColor"
            fill-opacity="0.2"></path>
          <path
            d="M24.0282 19.1578L19.002 24.1841L122.946 128.128L127.972 123.101L24.0282 19.1578Z"
            fill="currentColor"></path>
          <path
            d="M24.0282 19.1578L19.002 24.1841L122.946 128.128L127.972 123.101L24.0282 19.1578Z"
            fill="currentColor"
            fill-opacity="0.2"></path>
          <path
            d="M122.946 19.1564L19.002 123.1L24.0282 128.126L127.972 24.1827L122.946 19.1564Z"
            fill="currentColor"></path>
          <path
            d="M122.946 19.1564L19.002 123.1L24.0282 128.126L127.972 24.1827L122.946 19.1564Z"
            fill="currentColor"
            fill-opacity="0.2"></path>
          <path
            d="M6.7933 42.6484L4.11133 49.2314L140.248 104.695L142.93 98.1115L6.7933 42.6484Z"
            fill="currentColor"></path>
          <path
            d="M6.7933 42.6484L4.11133 49.2314L140.248 104.695L142.93 98.1115L6.7933 42.6484Z"
            fill="currentColor"
            fill-opacity="0.2"></path>
          <path
            d="M97.9631 4.26955L42.5 140.406L49.083 143.088L104.546 6.95152L97.9631 4.26955Z"
            fill="currentColor"></path>
          <path
            d="M97.9631 4.26955L42.5 140.406L49.083 143.088L104.546 6.95152L97.9631 4.26955Z"
            fill="currentColor"
            fill-opacity="0.2"></path>
          <path
            d="M140.41 42.8958L4.03809 97.7856L6.69233 104.38L143.064 49.4902L140.41 42.8958Z"
            fill="currentColor"></path>
          <path
            d="M140.41 42.8958L4.03809 97.7856L6.69233 104.38L143.064 49.4902L140.41 42.8958Z"
            fill="currentColor"
            fill-opacity="0.2"></path>
          <path
            d="M49.3122 4.18875L42.7178 6.84229L97.5928 143.214L104.187 140.561L49.3122 4.18875Z"
            fill="currentColor"></path>
          <path
            d="M49.3122 4.18875L42.7178 6.84229L97.5928 143.214L104.187 140.561L49.3122 4.18875Z"
            fill="currentColor"
            fill-opacity="0.2"></path>
        </svg>
        <span class="ml-4">FAQ 2</span>
      </span>
      <p class="mt-16 text-2xl    lg:text-4xl text-black">
        Discover what Snowpeak includes and what is made of, you will find a ton
        of demo pages and components.
      </p>
    </div>
    <ul role="list" class="space-y-24 lg:mt-24 mt-12">
      <li>
        <h3
          class="text-2xl           lg:text-4xl text-black">
          Why wouldn't I just hire a full-time designer?
        </h3>
        <p class="text-gray-500 mt-6 text-lg lg:text-xl tracking-wide">
          Sure, you could do that! Just consider this - the current salary of a
          Senior Designer &amp; Developer is between 68k - 130k in the US.
        </p>
      </li>
      <li>
        <h3
          class="text-2xl           lg:text-4xl text-black">
          When can we start?
        </h3>
        <p class="text-gray-500 mt-6 text-lg lg:text-xl tracking-wide">
          Within 24 hours. If we are a good fit and a spot is available, we can
          immediately get started and you'll receive a solution for your first
          request within 48 hours!
        </p>
      </li>
      <li>
        <h3
          class="text-2xl           lg:text-4xl text-black">
          How fast will I receive my deliveries?
        </h3>
        <p class="text-gray-500 mt-6 text-lg lg:text-xl tracking-wide">
          On average, most requests are completed in just two days or less.
          However, more complex requests can take longer.
        </p>
      </li>

      <li>
        <h3
          class="text-2xl           lg:text-4xl text-black">
          Do I need to know HTML/CSS if I want to edit the content on Versoly
          myself?
        </h3>
        <p class="text-gray-500 mt-6 text-lg lg:text-xl tracking-wide">
          No HTML or CSS is needed. Versoly does have a code editor built in so
          if you know HTML/CSS/JS you can easily edit your page without
          exporting the website.
        </p>
      </li>
      <li>
        <h3
          class="text-2xl           lg:text-4xl text-black">
          Is Snowpeak an agency?
        </h3>
        <p class="text-gray-500 mt-6 text-lg lg:text-xl tracking-wide">
          Snowpeak is a One man Company. This means that you will work directly
          with me, Michael Andreuzza.
        </p>
      </li>
      <li>
        <h3
          class="text-2xl           lg:text-4xl text-black">
          What if I need a task to be revised?
        </h3>
        <p class="text-gray-500 mt-6 text-lg lg:text-xl tracking-wide">
          No worries - you can ask for unlimited revisions. Since they are
          usually "quick stuff" - expect them to be done in 24 hours!
        </p>
      </li>
      <li>
        <h3
          class="text-2xl           lg:text-4xl text-black">
          How can we communicate?
        </h3>
        <p class="text-gray-500 mt-6 text-lg lg:text-xl tracking-wide">
          We will communicate directly through Slack Channel. I typically
          respond within a few hours, but at the latest within 24 hours during
          Business days.
        </p>
      </li>

      <li>
        <h3
          class="text-2xl           lg:text-4xl text-black">
          Are requests really unlimited?
        </h3>
        <p class="text-gray-500 mt-6 text-lg lg:text-xl tracking-wide">
          Yes! Submit as many requests as you want.
        </p>
      </li>
      <li>
        <h3
          class="text-2xl           lg:text-4xl text-black">
          What if I don't like the deliveries?
        </h3>
        <p class="text-gray-500 mt-6 text-lg lg:text-xl tracking-wide">
          I offer a 7-day 100% Money-back-guarantee. This means you have enough
          time to test out the service and see if we could be a good fit. You
          can cancel your plan at any time, with the click of a button - no
          contracts, no surprises.
        </p>
      </li>
      <li>
        <h3
          class="text-2xl           lg:text-4xl text-black">
          How do you guarantee full availability?
        </h3>
        <p class="text-gray-500 mt-6 text-lg lg:text-xl tracking-wide">
          I'm only taking up 3 clients at a time so I can deliver superb
          quality. &zwj;
        </p>
      </li>

      <li>
        <h3
          class="text-2xl           lg:text-4xl text-black">
          Is hosting included?
        </h3>
        <p class="text-gray-500 mt-6 text-lg lg:text-xl tracking-wide">
          Yes, Versoly's all plans include hosting. They host your site on AWS
          and use advanced features to make sure your site is fast, secure and
          always up.
        </p>
      </li>
    </ul>
  </div>
</section>
