---
import { getCollection } from "astro:content";
const allPosts = await getCollection("customers");
import BaseLayout from "@/layouts/BaseLayout.astro";
import Entries from "@/components/customers/Entries.astro";
---

<BaseLayout>
  <section>
    <div class="px-8 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl lg:py-32">
      <p
        class="text-4xl lg:text-6xl        font-medium text-black text-balance">
        Transforming visions into realities, celebrating the success stories of
        our valued customers
      </p>

      <div
        class="flex flex-col divide-y t-24 divide-gray-300"
        >
        {
          allPosts.slice().map((post) => (
            <Entries
              url={"/customers/" + post.slug}
              customer={post.data.customer}
              feedback={post.data.feedback}
              alt={post.data.customer}
              logo={post.data.logo.url}
            />
          ))
        }
      </div>
    </div>
  </section>
</BaseLayout>
